* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.home {
  height: 100vh;
  width: 100%;
  background-image: url(./images/bg.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

@media (max-width: 600px){
  .home{
    background-image: url(./images/bg1.jpg);
  }
}

.logo-brand {
  height: 10vh;
  margin-left: 7%;
}

@media (max-width: 600px){
  .logo-brand {
    height: 7vh;
    margin-left: 2%;
  }
}

.brand-line {
  display: inline-block;
  color: #0198FC;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
  margin-left: 2%;
  margin-bottom: 0;
}

#contact {
  margin-right: 2%;
  margin-top: 1%;
}

.tick1{
  color: #0198FC;
  margin: 0 2%;
}

@media (max-width: 600px){
  #contact {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
  }
}

.modal-para {
  position: absolute;
  left: 0;
  margin-left: 5%;
}

.btn {
  color: white;
}

.tag {
  position: absolute;
  right: 3%;
  margin-top: 7%;
}

.tag h1 {
  color: #0198FC;
}

.tick2{
  color: green;
}


@media (max-width: 600px){
  .tag{
    margin-top: 25%;
  }
  .tag p {
    margin-top: 7%;
    margin-left: 50%;
    font-size: 15px;
  }
  .tag button{
    margin-left: 50%;
  }
}

.form-group {
  margin-bottom: 2%;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
}

.order-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
}

#datePicker{
  display: none;
}